<div>
    <h1>EDUCATION</h1>
    <div>
        <h3>DEPOT/U</h3>
        <p>Full Stack Web Developer</p>
        <p>
            <ul>
                <li>Created a RESTful API endpoints using Express-Node.Js and AngularJs.</li>
                <li>Developer a mobile web client to consume the API using AngularJS/HTML5/CSS</li>
                <li>Added server push notifications using websockets protocolConducted product research projects</li>
                <li>Resourcefully utilized GitHub to spur collaboration between co-workers.</li>
                <li>Worked with Mangodb, and MYSQL databses.</li>
            </ul>
        </p>
    </div>
    <div>
        <h3>UNIVERSITY OF ALABAMA AT BIRMINGHAM</h3>
        <p>Undergraduate</p>
    </div>
    <div>
        <h3>BOB JONES HIGH SCHOOL</h3>
        <p>High School Diploma</p>
    </div>
    <div>
        <h3>FREE CODE CAMP</h3>
        <p>Full Stack Web Developer</p>
    </div>
</div>