<div>
    <table>
        <tr>
            <td>Databases:</td>
            <td>Mongodb</td>
            <td>MYSQL</td>
        </tr>
        <tr>
            <td>Languages:</td>
            <td>JavaScript</td>
            <td>HTML/CSS</td>
            <td>JQUERY</td>
        </tr>
        <tr>
            <td>Web tools:</td>
            <tr>AngularJs</tr>
            <tr>Express server</tr>
            <tr>Node.js</tr>
        </tr>
        <tr>
            <td>Development tools:</td>
            <td>Visual studio code, Sublime Text</td>
            <td>Fina cut pro</td>
            <td>Adobe Photoshop Cs6</td>
        </tr>   
    </table>
</div>