 
<h1>CAREER OBJECTIVE</h1>
<p>
    Self-motivated IT Professional seeking job in a high quality IT environment that offers key participation, team oriented tasks, immediate challenges, and career opportunity.
</p>

<div>
    <h2>WHY ME?</h2>
    <ul>
        <li>Team player, willing to do whatever it takes to help the team succeed: front end, back end and everything in between.</li>
        <li>Driven, young and passionate developer with a work hard, play hard mentality.</li>
        <li>Full lifecycle expertise with strong object-oriented design and coding skills.</li>
    </ul>
</div>