<!--<div class="container">
    <h1 class="center align">
        CAREER OBJECTIVE</h1>
    <p class="card">
        Self-motivated IT Professional seeking job in a high quality IT environment that offers key participation, team oriented
        tasks, immediate challenges, and career opportunity.
    </p>
    <div>
        <h2>WHY ME?</h2>
        <ul>
            <li>Team player, willing to do whatever it takes to help the team succeed: front end, back end and everything in
                between.
            </li>
            <li>Driven, young and passionate developer with a work hard, play hard mentality.</li>
            <li>Full lifecycle expertise with strong object-oriented design and coding skills.</li>
        </ul>
    </div>
    <div>
        <table class="responsive-table">
            <tr>
                <td data-field="id">Databases:</td>
                <td data-field="id">Mongodb</td>
                <td data-field="id">MYSQL</td>
            </tr>
            <tr>
                <td data-field="id">Languages:</td>
                <td data-field="id">JavaScript</td>
                <td data-field="id">HTML/CSS</td>
                <td data-field="id">JQUERY</td>
            </tr>
            <tr>
                <td data-field="id">Web tools:</td>
                <tr data-field="id">AngularJs</tr>
                <tr data-field="id">Express server</tr>
                <tr data-field="id">Node.js</tr>
            </tr>
            <tr>
                <td data-field="id">Development tools:</td>
                <td data-field="id">Visual studio code, Sublime Text</td>
                <td data-field="id"> Fina cut pro</td>
                <td data-field="id">Adobe Photoshop Cs6</td>
            </tr>
        </table>
    </div>
    <div>
        <div>
            <h1  class=".pin-top">Work Experienc</h1>
            <div>
                <h3>Muskan Inc.</h3>
                <p>Manager</p>
                <ul>
                    <li>Diagnose, troubleshoot, and resolve hardware, software, or other network and system problems, and replace
                        defective components when necessary.</li>
                    <li>Direct the hiring, training, or performance evaluations of marketing or sales staff and oversee their
                        daily activities.
                    </li>
                    <li>Develop pricing strategies, balancing firm objectives and customer satisfaction</li>
                    <li>Developing, designing and maintaining restaurant website;</li>
                    <li>Monitor compliance with health and fire regulations regarding food preparation and serving, and building
                        maintenance in lodging and dining facilities.</li>
                    <li>Plan menus and food utilization based on anticipated number of guests, nutritional value, palatability,
                        popularity, and costs.</li>
                    <li>Order and purchase equipment and supplies</li>
                    <li>Review work procedures and operational problems to determine ways to improve service, performance, or
                        safety.</li>
                    <li>Keep records required by government agencies regarding sanitation, and food subsidies when appropriate.
                        Schedule staff hours and assign duties.</li>
                    <li>Coordinate assignments of cooking personnel to ensure economical use of food and timely preparation.</li>
                </ul>
                <h3>Stop and Save</h3>
                <p>Manager</p>
                <ul>
                    <li>Store items in an orderly and accessible manner in warehouses, tool rooms, supply rooms, or other areas.</li>
                    <li>Verify inventory computations by comparing them to physical counts of stock, and investigate discrepancies
                        or adjust errors.</li>
                    <li>Monitor budgets and payroll records, and review financial transactions to ensure that expenditures are
                        authorized and budgeted.</li>
                    <li>Prepare and maintain records and reports of inventories, price lists, shortages, shipments, expenditures,
                        and goods used or issued.</li>
                    <li>Perform difficult staffing duties, including dealing with understaffing, refereeing disputes, firing
                        employees, and administering disciplinary procedures.</li>
                    <li>Book-keeping</li>
                </ul>
                <h3>Subway</h3>
                <p>Sandwich Artist</p>
                <ul>
                    <li>Take orders from customers and cook foods requiring short preparation times, according to customer requirements</li>
                    <li>Accept payments, and make change or write charge slips as necessary.</li>
                    <li>Perform food preparation tasks, such as making sandwiches, carving meats, making soups or salads, baking
                        breads or desserts, and brewing coffee or tea.</li>
                    <li>Order supplies and stock them on shelves.</li>
                    <li>Take orders from customers and cook foods requiring short preparation times, according to customer requirements</li>
                    <li>Work with customer for their statisfaction</li>
                </ul>
            </div>
        </div>
    </div>
    <div>
        <h1>EDUCATION</h1>
        <div>
            <h3>DEPOT/U</h3>
            <p>Full Stack Web Developer</p>
            <p>
                <ul>
                    <li>Created a RESTful API endpoints using Express-Node.Js and AngularJs.</li>
                    <li>Developer a mobile web client to consume the API using AngularJS/HTML5/CSS</li>
                    <li>Added server push notifications using websockets protocolConducted product research projects</li>
                    <li>Resourcefully utilized GitHub to spur collaboration between co-workers.</li>
                    <li>Worked with Mangodb, and MYSQL databses.</li>
                </ul>
            </p>
        </div>
        <div>
            <h3>UNIVERSITY OF ALABAMA AT BIRMINGHAM</h3>
            <p>Undergraduate</p>
        </div>
        <div>
            <h3>BOB JONES HIGH SCHOOL</h3>
            <p>High School Diploma</p>
        </div>
        <div>
            <h3>FREE CODE CAMP</h3>
            <p>Full Stack Web Developer</p>
        </div>
    </div>
    <div>
        <h1>Languages</h1>
        <ul>
            <li>English</li>
            <li>Nepali</li>
            <li>Hindi</li>
        </ul>
    </div>
</div>-->
<div class="navbar-fixed">
    <nav class="black" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="#" class="brand-logo center teal-text text-lighten-4 condensed thin">SUBASH KARKI</a>
            <!--<ul id="nav-mobile" class="side-nav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse light-green-text text-accent-2"><i class="material-icons">menu</i></a>-->
        </div>
    </nav>
</div>
<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br>
            <br>
            <h1 class="header center"><i class="ion-social-html5-outline deep-orange-text"></i>&nbsp;<i class="ion-social-css3 cyan-text text-lighten-3"></i>&nbsp;
                <i class="ion-social-javascript yellow-text text-darken-1"></i>&nbsp;<i class="ion-social-angular red-text"></i>&nbsp;
                <i class="ion-social-nodejs light-green-text text-accent-2"></i>
            </h1>
            <div class="row center">
                <h4 class="header col s12 teal-text text-lighten-5"> FULL STACK WEB <i class="ion-plus-round"></i> developer</h4>
                <p>Self-motivated IT Professional seeking job in a high quality IT environment that offers key participation,
                    team oriented tasks, immediate challenges, and career opportunity.</p>
            </div>
            <div class="row center">
                <br>
                <br>
                <a href="#work" id="download-button" class="btn-large waves-effect waves-light teal-text text-lighten-5 orange">Check out my work</a>
            </div>
            <br>
            <br>
        </div>
    </div>
    <div class="parallax"><img src="https://docs.google.com/uc?id=0BxATlWLxD5-7ZV92VmlXMzhWdnM" width="85%" alt="Sean Blattenberger"></div>
</div>
<!------------------------>
<div class="container">
    <div class="section bio">
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center orange-text"><i class="ion-ios-heart"></i></h2>
                    <h5 class="center cyan-text text-lighten-3">Passion</h5>
                    <div class="divider light-green accent-2"></div>
                    <p class="teal-text text-lighten-5">“"Bad programmers worry about the code. Good programmers worry about data structures and their relationships."
                        <br>By: Linus Torvalds</p>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center orange-text"><i class="ion-ios-glasses-outline"></i></h2>
                    <h5 class="center cyan-text text-lighten-3">FOCUS</h5>
                    <div class="divider light-green accent-2"></div>
                    <p class="teal-text text-lighten-5">“Always be the worst guy in every band you’re in. - so you can learn. The people around you affect your
                        performance. Choose your crowd wisely.”
                        <br>By: Chad Fowler, The Passionate Programmer</p>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center orange-text"><i class="ion-ios-time"></i></h2>
                    <h5 class="center cyan-text text-lighten-3">DISCIPLINE</h5>
                    <div class="divider light-green accent-2"></div>
                    <p class="teal-text text-lighten-5">"Knowledge comes, but wisdom lingers. It may not be difficult to store up in the mind a vast quantity
                        of facts within a comparatively short time, but the ability to form judgments requires the severe
                        discipline of hard work and the tempering heat of experience and maturity." <br> By: Calvin Coolidge</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--********-------------****-->
<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 light">“If you can't fly then run, if you can't run then walk, if you can't walk then crawl, but whatever you do
                    you have to keep moving forward.”</h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="./images/code.jpeg" alt="Yo!" width="85%"></div>
</div>
<div class="container" id="work">
    <div class="section">
        <div class="row">
            <div class="col s12 center">
                <h3><i class="ion-hammer orange-text"></i></h3>
                <span class="work cyan-text text-lighten-3">PROJECTS</span>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image">
                        <img src="./images/resume.png">
                        <span class="card-title cyan-text text-lighten-3">Resume</span>
                    </div>
                    <div class="card-content teal lighten-2">
                        <p >My resume</p>
                    </div>
                    <div class="card-action">
                        <a href="#">This is a link</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image">
                        <img src="./images/blog.png">
                        <span class="card-title cyan-text text-lighten-3">Food-Blog</span>
                    </div>
                    <div class="card-content indigo accent-1">
                        <p>Simple blog </p>
                    </div>
                    <div class="card-action">
                        <a href="http://blog.subashkarki.com/">This is a link</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image">
                        <img src="./images/substrate.jpg">
                        <span class="card-title cyan-text text-lighten-3">Substrate-Radio</span>
                    </div>
                    <div class="card-content lime accent-3">
                        <p>Final project, with real client.</p>
                    </div>
                    <div class="card-action">
                        <a href="http://www.substrateradio.com/">This is a link</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--**************************-->
<div class="container">
    <div class="row">
        <div class="col s12 m4">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="images/office.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                    <p><a href="#">This is a link</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="images/office.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                    <p><a href="#">This is a link</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="images/office.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                    <p><a href="#">This is a link</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--**********************-->
<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 teal-text text-lighten-5">Thanks for stopping by! Head to the bottom if you'd like to link up.</h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="https://docs.google.com/uc?id=0BxATlWLxD5-7TU1RSGRCMkkyajQ" alt="Thanks for visiting" width="85%"></div>
</div>
<footer class="page-footer black">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="cyan-text text-lighten-3">Contact info</h5>
                <div class="divider light-green accent-2"></div>
                <p class="teal-text text-lighten-5">Subash Karki<br>Birmingham, Al 35205</p>
            </div>
            <div class="col l6 s12">
                <h5 class="cyan-text text-lighten-3">Connect</h5>
                <div class="divider light-green accent-2"></div>
                <br><br><br>
                <div class="row">
                    <!--<div class="col l3">
            <a class="blue lighten-2 btn-floating" href="twitter.com"><i class="ion-social-twitter"></i></a>
          </div>-->
                    <div class="col l3">
                        <a class="white btn-floating" href="https://github.com/karki011"><i class="ion-social-github black-text"></i></a>
                    </div>
                    <div class="col l3">
                        <a class="blue btn-floating" href="https://www.linkedin.com/in/skarki011?trk=nav_responsive_tab_profile_pic"><i class="ion-social-linkedin"></i></a>
                    </div>
                    <!--<div class="col l3">
            <a class="grey darken-3 btn-floating" href="codepen.com"><i class="ion-social-codepen-outline"></i></a>
          </div>-->
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright  orange lighten-2">
        <div class="container">
            Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Subash Karki using MaterializeCSS</a>
        </div>
    </div>
</footer>