<div class="navbar-fixed">
    <nav class="black" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="#" class="brand-logo center teal-text text-lighten-4 condensed thin">SUBASH KARKI</a>
        </div>
    </nav>
</div>
<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br>
            <br>
            <h1 class="header center"><i class="ion-social-html5-outline deep-orange-text"></i>&nbsp;<i class="ion-social-css3 cyan-text text-lighten-3"></i>&nbsp;
                <i class="ion-social-javascript yellow-text text-darken-1"></i>&nbsp;<i class="ion-social-angular red-text"></i>&nbsp;
                <i class="ion-social-nodejs light-green-text text-accent-2"></i>
            </h1>
            <div class="row center">
                <h4 class="header col s12 teal-text text-lighten-5" style="position: relative;bottom: 3em;"> FULL STACK WEB DEVELOPER</h4>
                <p style="    position: relative; bottom: 6em;">Dedicated, motivated and innovative IT professional with over 11 years’ experience in diverse fast-paced
                    corporate IT, management and customer service environments. Experienced in IT management with unique
                    troubleshooting techniques, executing high quality maintenance and providing sound installation work.
                    Versatile with a strong ability to transform and apply skills and previous experience to any situation.
                    Knowledge in full development lifecycle from concept through delivery of next-generation applications
                    and customizable solutions. Capable of analyzing code and engineering well-researched, cost-effective
                    and responsive solutions. Knowledge in both front end and back end development. Supportive an enthusiastic
                    team player dedicated to streamlining processes and efficiently resolving project issues</p>
            </div>
            <div class="row center">
                <br>
                <br>
                <a href="#work" id="download-button" class="btn-large waves-effect waves-light teal-text text-lighten-5 orange">Check out my work</a>
            </div>
            <br>
            <br>
        </div>
    </div>
    <div class="parallax"><img style="background-position: center;" src="./images/temple.jpg" width="85%"></div>
</div>
<!------------------------>
<div class="container">
    <div class="section bio">
        <div class="row">
            <div class="col s12 center">
                <h3><i class="ion-hammer orange-text"></i></h3>
                <span class="work cyan-text text-lighten-3">Technical Skills</span>
                <div class="divider light-green accent-2"></div>
            </div>
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center orange-text"><i class="ion-ios-heart"></i></h2>
                    <h5 class="center cyan-text text-lighten-3">Databases</h5>
                    <div class="divider light-green accent-2"></div>
                    <p class="teal-text text-lighten-5 center">MongoDb <br> MYSQL</p>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center orange-text"><i class="ion-ios-glasses-outline"></i></h2>
                    <h5 class="center cyan-text text-lighten-3">Languages</h5>
                    <div class="divider light-green accent-2"></div>
                    <p class="teal-text text-lighten-5 center">JavaScript <br> HTML/CSS <br> JQuery <br> AngularJs <br> Node.js <br> Express Server
                    </p>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center orange-text"><i class="ion-ios-time"></i></h2>
                    <h5 class="center cyan-text text-lighten-3">Development tools</h5>
                    <div class="divider light-green accent-2"></div>
                    <p class="teal-text text-lighten-5 center"> Visual Studio Code <br> Sublime Text <br>Adobe Photoshop CS6 </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--********-------------****-->
<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 light">“If you can't fly then run, if you can't run then walk, if you can't walk then crawl, but whatever you do
                    you have to keep moving forward.”</h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="./images/code.jpeg" alt="Yo!" width="85%"></div>
</div>
<!--***************?-->
<div class="container">
<div class="row">
    <div class="col s12 center">
        <h3><i class="ion-hammer orange-text"></i></h3>
        <span class="work cyan-text text-lighten-3">Work Experiences</span>
        <div class="divider light-green accent-2"></div>
    </div>
    <div class="col s12 m6 center">
        <div class="card blue-grey darken-1">
            <div class="card-content grey darken-4-text">
                <span class="card-title">Muskan Inc.</span>
                <div class="divider light-green accent-2"></div>
                <span>Manager</span>
                <ul>
                    <li>Diagnose, troubleshoot, and resolve hardware, software, or other network and system problems, and replace
                        defective components when necessary.</li>
                    <li>Direct the hiring, training, or performance evaluations of marketing or sales staff and oversee their
                        daily activities.</li>
                    <li>Develop pricing strategies, balancing firm objectives and customer satisfaction</li>
                    <li>Developing, designing and maintaining restaurant website;</li>
                    <li>Monitor compliance with health and fire regulations regarding food preparation and serving, and building
                        maintenance in lodging and dining facilities.</li>
                    <li>Plan menus and food utilization based on anticipated number of guests, nutritional value, palatability,
                        popularity, and costs.</li>
                    <li>Order and purchase equipment and supplies</li>
                    <li>Review work procedures and operational problems to determine ways to improve service, performance, or
                        safety.
                    </li>
                    <li>Keep records required by government agencies regarding sanitation, and food subsidies when appropriate.
                        Schedule staff hours and assign duties.</li>
                    <li>Coordinate assignments of cooking personnel to ensure economical use of food and timely preparation.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col s12 m6 center">
        <div class="card blue-grey darken-1">
            <div class="card-content grey darken-4-text">
                <span class="card-title">Stop and Save</span><br>
                <div class="divider light-green accent-2"></div>
                <span>Manager</span>
                <ul>
                    <li>Store items in an orderly and accessible manner in warehouses, tool rooms, supply rooms, or other areas.</li>
                    <li>Verify inventory computations by comparing them to physical counts of stock, and investigate discrepancies
                        or adjust errors.</li>
                    <li>Monitor budgets and payroll records, and review financial transactions to ensure that expenditures are
                        authorized and budgeted.</li>
                    <li>Prepare and maintain records and reports of inventories, price lists, shortages, shipments, expenditures,
                        and goods used or issued.</li>
                    <li>Perform difficult staffing duties, including dealing with understaffing, refereeing disputes, firing
                        employees, and administering disciplinary procedures.</li>
                    <li>Book-keeping</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col s12 center">
        <div class="card blue-grey darken-1">
            <div class="card-content grey darken-4-text">
                <span class="card-title">Subway</span><br>
                <div class="divider light-green accent-2"></div>
                <span>Sandwich Artist</span>
                <ul>
                    <li>Take orders from customers and cook foods requiring short preparation times, according to customer requirements</li>
                    <li>Accept payments, and make change or write charge slips as necessary.</li>
                    <li>Perform food preparation tasks, such as making sandwiches, carving meats, making soups or salads, baking
                        breads or desserts, and brewing coffee or tea.</li>
                    <li>Order supplies and stock them on shelves.</li>
                    <li>Take orders from customers and cook foods requiring short preparation times, according to customer requirements</li>
                    <li>Work with customer for their statisfaction</li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>
<!--************************************************-->
<div class="container" id="work">
    <div class="section">
        <div class="row">
            <div class="col s12 center">
                <h3><i class="ion-hammer orange-text"></i></h3>
                <span class="work cyan-text text-lighten-3">Projects</span>
                <div class="divider light-green accent-2"></div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image">
                        <img src="./images/resume.png">
                        <span class="card-title cyan-text text-lighten-3">Resume</span>
                    </div>
                    <div class="card-content teal lighten-2">
                        <p>My resume</p>
                    </div>
                    <div class="card-action  light-blue darken-4">
                        <a href="#">This is a link</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image">
                        <img src="./images/blog.png">
                        <span class="card-title cyan-text text-lighten-3">Food-Blog</span>
                    </div>
                    <div class="card-content indigo accent-1">
                        <p>Simple blog </p>
                    </div>
                    <div class="card-action  light-blue darken-4">
                        <a href="http://blog.subashkarki.com/">This is a link</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image">
                        <img src="./images/substrate.jpg">
                        <span class="card-title cyan-text text-lighten-3">Substrate-Radio</span>
                    </div>
                    <div class="card-content lime accent-3">
                        <p>Final project, with real client.</p>
                    </div>
                    <div class="card-action  light-blue darken-4">
                        <a href="http://www.substrateradio.com/">This is a link</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--**************************-->
<!--**********************-->
<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 teal-text text-lighten-5">Thanks for stopping by! Head to the bottom if you'd like to link up.</h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="./images/codecode.jpg" alt="Thanks for visiting" width="85%"></div>
</div>
<footer class="page-footer black">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="cyan-text text-lighten-3">Contact info</h5>
                <div class="divider light-green accent-2"></div>
                <p class="teal-text text-lighten-5">Subash Karki<br>Birmingham, Al 35205</p>
            </div>
            <div class="col l6 s12">
                <h5 class="cyan-text text-lighten-3">Connect</h5>
                <div class="divider light-green accent-2"></div>
                <br><br><br>
                <div class="row">
                    <div class="col l3">
                        <a class="white btn-floating" href="https://github.com/karki011"><i class="ion-social-github black-text"></i></a>
                    </div>
                    <div class="col l3">
                        <a class="blue btn-floating" href="https://www.linkedin.com/in/skarki011?trk=nav_responsive_tab_profile_pic"><i class="ion-social-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright  orange lighten-2">
        <div class="container">
            Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Subash Karki using MaterializeCSS</a>
        </div>
    </div>
</footer>